/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
font weights:
line heights:
default:1
FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  color: #fff;

  background-color: #12b886;
}
.container {
  flex-direction: column;
  display: flex;
  gap: 9.6rem;
  margin: 0 auto;
  padding: 0 4.8rem;
  margin-top: 10rem;
  max-width: 120rem;
}
.grid--3--cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  column-gap: 9.6rem;
}
.list-cont {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}

h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
}
.add--button {
  width: 100%;
  display: block;
  padding: 1rem 1rem;
  border: none;
  color: #fff;
  margin-top: 3.2rem;
  border-radius: 5px;
  font-size: 1.8rem;
  background-color: #0ca678;
}
.title {
  font-size: 2.8rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
}

.add--button:hover {
  cursor: pointer;
}
.tasks {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  min-height: 2rem;
}
.task {
  border-radius: 5px;
  border: none;
  padding: 1rem 1.4rem;
  width: 100%;
  font-size: 1.6rem;
}
.button--cont {
  position: absolute;
  right: -3%;
  transform: translate(-50%, -50%);
  top: 50%;
  display: flex;
  gap: 0.8rem;
}
.task--cont {
  position: relative;
}
.edit--button {
  color: #228be6;
}
.delete--button {
  color: #ff6b6b;
}
.edit--button,
.delete--button {
  border: none;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  display: inline-block;
  width: 1.9rem;
  height: 1.9rem;
}
.edit--button:hover {
  color: #1971c2;
  transform: scale(1.2);
}
.delete--button:hover {
  color: #f03e3e;
  transform: scale(1.2);
}
.droppable {
  transition: all 0.3s ease-in-out;
  transform: translateY(5px);
  box-shadow: 0 -0.8rem 0.5rem rgba(0, 0, 0, 0.7);
}
input:focus {
  outline: 0;
}
.icon {
  width: 100%;
  height: 100%;
}
@media (max-width: 62.5em) {
  .grid--3--cols {
    column-gap: 6.4rem;
  }
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 47em) {
  html {
    font-size: 50%;
  }
  .title {
    font-size: 2.4rem;
  }
  .grid--3--cols {
    column-gap: 5.4rem;
  }
}
@media (max-width: 37.5em) {
  .title {
    font-size: 3.4rem;
  }
  .grid--3--cols {
    grid-template-columns: 1fr;
    row-gap: 5.4rem;
  }
  .list-cont {
    width: 80%;
    justify-self: center;
    gap: 3.4rem;
  }
  .add--button,
  .task {
    padding: 1.7rem 1.4rem;
    font-size: 1.8rem;
  }
}
@media (max-width: 31em) {
  .list-cont {
    width: 100%;
  }
}
